/* Google Webフォントを利用設定するCSSをインポート */
@import url(https://fonts.googleapis.com/css?family=Teko:700);
@import url(https://fonts.googleapis.com/css?family=Sawarabi+Mincho);

/* body要素(全体) */
body
{
    /* 文字色を白に */
    color: black;
    /* 背景色を黒に */
    background-color: white;
}

span
{
    display: inline-block;
}

/* id="clock_frame" のdiv要素 */
div#clock_frame
{
    /* 横幅を親要素であるbodyの100%(同じ幅)にする */
    width: 100%;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Teko';
}

/* id="clock_date" のspan要素 */
span#clock_date
{
    /* この要素の中におけるテキストを右詰めにする デフォルト値のtext-align:leftを上書き */
    display: block;
    /* フォントの大きさを親要素であるdivで設定されたサイズ(px)の0.5倍にする */
    font-size: 1.5em;
    /* 右のパディングの幅を親要素であるdivで設定されたフォントサイズ(px)の0.5倍にする */
    /* padding-right: 0.5em; */
    height: 0.3em;
}

/* id="clock_time" のspan要素 */
span#clock_time
{
    /* フォントの大きさを親要素であるdivで設定されたサイズ(px)の2倍にする */
    font-size: 4.5em;
    margin-bottom: -1em;
}

span#weather_frame
{
    width: 360px;
    font-family: sans-serif;

    display: inline-block;
}

span#weather_frame_current
{
    width: 180px;
    font-family: sans-serif;

    display: inline-block;
}

img.icon
{
    width: 60px;
}

div#hour_template
{
    display: none;
}

span.caption
{
    width: 40px;
}

span.data
{
    width: 100px;
}

.slick-slider
{
    position: absolute !important;
}

div.weather_hour > div
{
    border-bottom: 1px solid;
}

div.sunmoon > span > span.caption
{
    width: 70px;
}

div.sunmoon > span > span.data
{
    width: 150px;
}

div.sunmoon > span.moonphase > span.data
{
    width: 50px;
}

div.sunmoon > span.moonphase > span.data > img
{
    width: 20px;
}